<a href="https://colab.research.google.com/github/Vignesh-P-C/fake-news-detection-transformers/blob/main/notebooks/02_dataset_exploration.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Dataset Exploration

**Project:** Fake News Detection using Transformers  
**Notebook:** 02_dataset_exploration.ipynb  

## Goal
- Choose one fake news dataset
- Load the dataset
- Understand text and labels
- No preprocessing
- No modeling

In [ ]:
import pandas as pd
import numpy as np

In [5]:
fake_df = pd.read_csv(
    "Fake.csv",
    engine="python",
    sep=",",
    quotechar='"',
    escapechar="\\",
    on_bad_lines="skip"
)

true_df = pd.read_csv(
    "True.csv",
    engine="python",
    sep=",",
    quotechar='"',
    escapechar="\\",
    on_bad_lines="skip"
)

In [6]:
print(fake_df.shape)
print(true_df.shape)

(5788, 4)
(5709, 4)

In [7]:
fake_df["label"] = 0   # fake news
true_df["label"] = 1   # real news

In [8]:
df = pd.concat([fake_df, true_df], ignore_index=True)
df = df.sample(frac=1, random_state=42).reset_index(drop=True)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11497 entries, 0 to 11496
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   title    11497 non-null  object
 1   text     11497 non-null  object
 2   subject  11497 non-null  object
 3   date     11497 non-null  object
 4   label    11497 non-null  int64
dtypes: int64(1), object(4)
memory usage: 449.2+ KB

In [10]:
df["label"].value_counts()

label
0    5788
1    5709
Name: count, dtype: int64

In [11]:
df["text"].str.len().describe()

count    11497.000000
mean      2521.552231
std       1388.403389
min        168.000000
25%       1825.000000
50%       2385.000000
75%       3127.000000
max      29781.000000
Name: text, dtype: float64

In [13]:
df[df["label"] == 0]["text"].iloc[0]

'What do Hillary s emails and police murders of unarmed black citizens have to do with each other? Powerful white men, i.e. the powerful, white men who currently run Congress, who are absolutely pissed and screaming in ugly indignation at the fact that the FBI didn t recommend indicting Hillary for her emails, and the Department of Justice listened.One tweet, posted by @OhNoSheTwitnt, explains the connection as these powerful white men misdirecting their anger towards a scandal that isn t even a scandal:Imagine if powerful white men were as vocally outraged about an innocent black person being shot as they are about improper use of email.  OhNoSheTwitnt (@OhNoSheTwitnt) July 6, 2016How do you make this point better than that? If the GOP in Congress were half as angry about real injustice, and real problems, as they are about Hillary s emails, they might actually be able to get some real work done. If they were as angry about police shooting unarmed black men to death as they are about Hillary s emails, they might call for hearings and investigations into why that keeps happening, instead of investigating Hillary over and over, ad nauseam.Two men. Two days. Both black. Both unarmed. One in front of his child. Alton Sterling and Philando Castile. And conservatives everywhere repeatedly question what these two along with hundreds of others are doing to provoke the police. They denigrate Black Lives Matter. President Obama s anger is correctly focused. But Republicans?Well, they re talking about opening an investigation into whether Hillary lied under oath now, because she must be a criminal in some way, shape or form. They just have to find it. Four years and millions of taxpayer dollars have been wasted investigating Hillary for absolutely everything under the sun, but that s not enough for them.@OhNoSheTwitnt s point absolutely shreds the powerful, white men that run Congress, and run the GOP, in the most brilliant manner possible. Too bad the powerful white men who most need to think about this would rather focus their time, energy and taxpayer dollars on something that really doesn t fucking matter.Featured image by Aude Guerrucci-Pool/Getty Images and Twitter'

In [14]:
df[df["label"] == 1]["text"].iloc[0]

'WASHINGTON (Reuters) - Former FBI Director James Comey will testify before the Senate Intelligence Committee on June 8 as part of its probe into alleged Russian meddling in the U.S. presidential election and possible collusion with President Donald Trumpâ€™s campaign, the committee said on Thursday. It said Comey would testify in an open session at 10 a.m., followed by a closed session. The former FBI chief, who was fired by Trump on May 9, is expected to testify on conversations he had with Trump in which the president reportedly asked him to drop an investigation into former White House national security adviser Michael Flynn. '